html, body {

height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'source code pro', monospace;
    background-color: rgb(34, 70, 25)
                
    background-size:cover;
    color: black;
}

.profile__wrap {
    text-align: center;
}

.profile__photo {
     
width: 200px;
height:200px;
border-radius:50%;
object-fit:cover;
margin-bottom: 1rem;
box-shadow: 0 25px 50px -12px rgba (0, 0, 0, .25);
}

.profile__info h1{
font-size:30px;
display: inline-block;
font-family: 'source sans pro', sans-serif;
font-weight: 600;
position: relative;

}


.profile__info h1::after {
    content: '';
    position: absolute;
    height: 3px;
    width:200px;
    background-color: orange;
    left:0;
    bottom: -2px;

    }

    .profile__intro {
       padding: irem 10px 1.5rem;
       max-width: 500px;
       line-height: 1.5;
       color: #0d1836;
      
    }

    .profile__intro a {
        color: seagreen;
    }
    
    .contact {

display: inline-block;
background-color: rgb(6, 20, 13);
padding: 8px 2rem;
text-decoration: none;
color: 4a5568;
border-radius: 99rem;
border: 2px solidrgb(97, 3, 3)
box-shadow: 0 4px 6px -1px rgba(0, 0, 0,  .1), 0 2px 4px -1px rgba(0,0,0 .06);
transition: .25s ease;
    }
.contact:hover {
    background-color: sienna;
    color: rgb(80, 23, 82)
}
.social__ links {
    margin-top:irem;
    list-style:none ;
}

.social___links{
    margin-top: 1rem;
    list-style: none;
}

.social__ links li {
    display: inline-block;
    padding:0 5px 
}
.social__link a {
    font-size: 14px;
    color:lightcoral;
    text-decoration:none;
}

.social__link a:hover{
    text-decoration: underline;
}



@media (min-width:1024px)
.profile__wrap {
    width:900px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction;row-reverse;


}

.profile__photo 

{
    margin-bottom: 0;
    height: 240px;
    width: 240px;
}
.profile__info {
    text-align: left;
    flex-basis: 70%;
    width:70%

}

.profile__info h1 {
    font-size: 40px;
}

.profile__intro {
    padding:1rem 0 1.5rem;
}
.contact {
    padding: 8px 2.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(15, 14, 85);
  }
  body{
      background-color: rgb(50, 73, 34);
  }
  

  li {
margin-top: 10px
margin-left:10px;
  }